@using Capstone.Web.Models

@model  ParkListModel

@{
    ViewBag.Title = "Park Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ParkDetail</h1>

<img id="detail_parkImage" src="~/Content/img/parks/@(Model.ParkCode).jpg" />
